{{ define "main" }}
<div class="single">
    <div class="singleHead">
        <div class="singleHeadTexts">

            <h1 class="singleHeadTitle">{{.Title}}</h1>
            {{/*  <p class="singleHeadDesc">{{.Params.description}}</p>  */}}
            <div class="singleHeadDetail">
                {{ range (.GetTerms "categories")}}
                    <a href={{.Permalink}} class="singleCategory">{{.Name}}</a>
                {{ end }}
                <p class="singleHeadDetailPara">&#x2022;</p>
                <time class="singleTime">{{ dateFormat .Site.Params.dateFormat .Date }}</time>
            </div>
        </div>
    </div>
    <div class="singleBottom">
        <div class="singleContent">
            {{.Content}}
        </div>
    </div>
</div>
{{ end }}